body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(63,94,251);
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,.5)), url(img/bg.png);
}
*:focus{
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    background-color: rgba(109, 109, 109, 0.46);
    padding: 30px;
    min-height: auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form input{
  background-color: transparent;
  border:none;
  border-bottom: 2px solid #000;
  font-size: 18px;
  margin: 0 10px 15px;
  color: #FFF;
  padding: 5px;
}
button {
  /* display: block; */
  border: 0;
 margin: auto;
  font-size: 12px; 
  background: #000;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 20px;
  cursor: pointer;
}
p {
  color: #FFF;
  border-bottom: 1px solid rgba(100,100,100,0.8);
  padding-bottom: 2px;
}
p span {
  font-weight: bold;
}
.Weather{
  text-align: center;
  color: #FFF;
}
.px-4{
  padding: 0 10px;
}
.py-2{
  padding: 10px 0;
}
.py-3{
  padding: 15px 0;

}
.py-4{
  padding:20px 0;

}
i {
  text-align: center;
  display: block !important;
  color: #FFF;
  font-size: 60px;
}